.pm-sign-in-content {
    max-width: 600px;
    margin: auto;
}


.pm-login-button {
    background-color: darkslategrey;
    border-color: black;
}


.pm-login-button:hover {
    background-color: darkcyan;
    border-color: black;
}

.background {
    background-image: url("./../../images/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0
}

.privacy-policy {
    position: absolute; bottom: 15px; left: 0; width: 100%; text-align: center
}
